.tarjetas{
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 8px;
    box-shadow: 0px 4px 4px black;
    width: 300px;
    display: inline-block;
    margin-left: 10%;


}
.tarjetas p{
    text-align: left;
    
}


#texto {
    padding-top: 33px;
}

.tarjeta_fondo{
    width: 300px;
    height: 200px;

}

.perfil{
    width: 120px;
    height: 118px;
    border-radius: 100%;
    position: relative;
    bottom: 70px;
    left: 5px;
}

.descuentos{
    background-color: #1CD1B0;
    font-size: 17px;
    top: 0;
    width: 100%;
}

.descuentos p{
    
    padding-top: 20px;
}


header{
    background-color: #00669F;
    font-size: 40px;
    margin-top: 80px;
    color: white;
    padding-left: 20px;
    padding-top: 20px;
    margin-top: 0px;
}

header {
    position: sticky;
    top: 0px;
    z-index: 124352;
}

*{
    margin: 0;
}

footer{
    background-color: #00669F;
    margin-top: 200px;
    color: white;
    padding: 20px;
}

.corazon{
    position: relative;
    top: 50px;
    left: -130px;
}

.ver_mas {
    background-color: #00669F;
    width: 80px;
    height: 30px;
    text-align: center;
    left: 100px;
    margin: 20px;
}




